<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="com.tim.WoodshopMC"
		  android:versionCode="1"
		  android:versionName="1.0">

	<uses-sdk android:minSdkVersion="18"/>

	<uses-permission android:name="android.permission.BLUETOOTH"/>
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
		<activity android:name="com.tim.WoodshopMC.SplashScreen"
				  android:label="@string/app_name"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

        <activity android:name="com.tim.WoodshopMC.JobsActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar">
        </activity>

        <activity android:name="com.tim.WoodshopMC.JobOverviewActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar">
        </activity>

        <activity android:name="com.tim.WoodshopMC.JobsArchiveActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:windowSoftInputMode="adjustPan">
        </activity>

        <activity android:name="com.tim.WoodshopMC.RecordActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar">
        </activity>

        <activity android:name="com.tim.WoodshopMC.ReadingActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar">
        </activity>

        <activity android:name="com.tim.WoodshopMC.LocationsActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar">
        </activity>

        <activity android:name="com.tim.WoodshopMC.LocProductsActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar">
        </activity>

        <activity android:name="com.tim.WoodshopMC.ProductsActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar">
        </activity>

        <activity android:name="com.tim.WoodshopMC.ReportsActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar">
        </activity>

        <activity android:name="com.tim.WoodshopMC.SettingsActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar">
        </activity>
	</application>
</manifest>
